{% extends "base.html" %}

{% block body%} 
<header>
    <h1>My pretty, little project page</h1>
</header>
<main>
    <div class="project-container">
        <div id="project-list"></div>
        <div class="content-box" id="add-project" style="display: none;">
            <form action="/form" method="POST" enctype="multipart/form-data">
                <label for="project-title">Project title</label>
                <br>
                <textarea name="project-title" id="project-title" maxlength="50" cols="50" required></textarea>
                <br>
                <label for="project-picture">Project picture</label>
                <br>
                <input type="file" accept="image/jpeg" name="project-picture" id="project-picture" required>
                <br>
                <label for="short-description">Short project description</label>
                <br>
                <textarea name="short-description" id="short-description" maxlength="500" cols="50" rows="10" required></textarea>
                <br>
                <label for="long-description">Long project description</label>
                <br>
                <textarea name="long-description" id="long-description" cols="50" rows="10" required></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div onclick="expandCollapseForm()" class="button" id="add-project-button">
            Add another Project
        </div>
        <div class="project content-box" id="project-template">
            <h2 class="project-title"></h2>
            <img class="project-picture" src="" alt="Picture of the project">
            <p class="short-description" style="display: block;"></p>
            <p class="long-description" style="display: none;"></p>
            <div onclick="expandCollapseToggle(0)" class="button">
                Expand
            </div>
        </div>
    </div>
    
</main>
<footer>
    <p>© 2021 by Luca Maximilian Roth <br> <a href="mailto:luca.roth@code.berlin">Contact</a></p>
</footer>
{% endblock %}
