:root {
    --font-size: 14pt;
    font-family: "Source Sans Pro","Calibri","Gill Sans","Open Sans",sans-serif;
}

body {
    font-size: var(--font-size);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    justify-content: center;
}

.project-container {
    width: 1000px;
    max-width: 80%;
}

.content-box {
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.project-title {
    display: block;
}

.project-picture {
    height: auto;
    width: 20%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#add-project {
    text-align: center;
}

#project-template {
    display: none;
}

.button {
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    background: #f2f2f2;
    max-width: 20%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

button[type=submit] {
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    background: #f2f2f2;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.button:hover {
    background: #cccccc;
}

footer {
    display: flex;
    justify-content: center;
}
